<?xml version="1.0"?>
<config>
    <modules>
        <GaugeInteractive_TaxExport>
            <version>1.0.0</version>
        </GaugeInteractive_TaxExport>
    </modules>
    <admin>
        <routers>
            <gaugeinteractive_taxexport>
                <use>admin</use>
                <args>
                    <module>GaugeInteractive_TaxExport</module>
                    <frontName>gaugeinteractive_taxexport</frontName>
                </args>
            </gaugeinteractive_taxexport>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <gaugeinteractive_taxexport>
                    <file>gaugeinteractive/taxexport.xml</file>
                </gaugeinteractive_taxexport>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <helpers>
            <gaugeinteractive_taxexport>
                <class>GaugeInteractive_TaxExport_Helper</class>
            </gaugeinteractive_taxexport>
        </helpers>
        <models>
            <gaugeinteractive_taxexport>
                <class>GaugeInteractive_TaxExport_Model</class>
            </gaugeinteractive_taxexport>
        </models>
    </global>
</config>