.tax-export-form label {

}

.tax-export-form input {
    display: block;
    padding: 5px;
}


.tax-export-form input[type="submit"] {
    margin: 20px 0;
    border: none;
    padding: 8px 15px 8px 15px;
    background: #37987E;
    color: #fff;
    box-shadow: 1px 1px 4px #DADADA;
    -moz-box-shadow: 1px 1px 4px #DADADA;
    -webkit-box-shadow: 1px 1px 4px #DADADA;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}

.tax-export-form select {
    display: block;
}